@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body
{
  background: #000;
}
header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}
header.sticky
{
  padding: 5px 100px;
  background: #fff;
}
header .logo
{
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  margin-right: 5px; /* 向左移动10px */
}
header.sticky .logo {
  color: #000; /* Change the logo color when header is sticky */
}
header ul
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li
{
  position:relative;
  list-style: none;
}
header ul li a
{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color:#fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transform: 0.6s;
}
.banner
{
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
header.sticky.logo,
header.sticky  ul li a
{
  color: #000;
}
/* Search container styles */
.search-container {
  margin-left: 100px; /* 向右移动10px */
}

/* Search input styles */
#searchInput {
  padding: 3px;
  width: 200px;
  border: 1px solid #000; /* 黑色边框 */
  border-radius: 5px;
  margin-left: 5px; /* 向右移动10px */
  font-size: 16px;
  color: #000; /* 黑色文字颜色 */
}

/* Search button styles */
#searchButton {
  background-color: #000; /* 黑色背景 */
  color: #fff; /* 白色文字颜色 */
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

/* Change search button background color on hover */
#searchButton:hover {
  background-color: #333; /* 鼠标悬停时的背景颜色变暗 */
}