* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
}

.flex-container {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-box {
    font-family: cursive;
    width: 200px;
    height: 200px;
    background: linear-gradient(rgb(50, 50, 50), black);
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 200px;
    border-radius: 20px;
    margin: 10px;
    text-decoration: none;
}